body{
    font-family: Arial, sans-serif;
    background-color: rgb(236, 236, 236);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin: 20px;

}
.cityInput{
    padding: 10px; 
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover{
    background-color: #0056b3;
}
.Card{
    background: linear-gradient(180deg, #7c92f3, #f1d381);
    padding: 50px;
    min-width: 300px;
    box-shadow: 0 0 10px rgb(0, 0, 0), inset 0 0 10px rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.759);
    margin-bottom: 25px;
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay{
    font-style: italic;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
}
.weatherEmoji{
    font-size: 8rem;
    margin: 0;
}
.ErrorMessage{
    color: rgba(255, 0, 0, 0.8);
    font-weight: bold;
    font-size: 2.5rem;
}